.inputClasses{
    width: 100%;
    padding: 5px 0;
    border: 1px solid green;
    margin: 20px 0px 0px 0px;
}
.buttonClasses{
    padding: 8px 15px;
    background-color: green;
    color: #fff;
    font-size: 14px;
    border: none;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}

.divBtn{
    align-items: center;
    text-align: center;
}