*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: space-between;
}

.App{
  width: 800px;
  margin: 0 auto;
}

.post{
  display: flex;
  padding: 15px;
  border: 2px solid green;
  margin: 15px;
  justify-content: space-between;
  align-items: center;
}
h1{
  text-align: center;
  margin-top: 40px;
}

.page{
  display: flex;
  justify-content: center;
}

.page__btn{
  padding: 5px 15px;
  border: 1px solid rgb(36, 171, 166);
  margin: 10px 10px 0px 0px;
  cursor: pointer;

}
.page__current{
  border: 2px solid orange;
  font-weight: bold;
}