* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  width: 800px;
  margin: 0 auto;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid green;
  margin: 15px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.page {
  display: flex;
  justify-content: center;
}

.page__btn {
  padding: 5px 15px;
  border: 1px solid rgb(36, 171, 166);
  margin: 10px 10px 0px 0px;
  cursor: pointer;

}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  padding: 0 15px;
  display: flex;
  align-items: center;

}

.navbar__items {
  margin-left: auto;
}

/* 
.navbar__items{
;a;a;a;
.navbar__items{
.navbar__items{
.navbar__items{
.navbar__items{
.navbar__items{
  margin-left: auto;
}
.navbar__items{
  margin-left: auto; */
/* } */


/* dasdsad */
/* dasdsad */
/* dasdsad */
/* dasdsad */
/* dasdsad */